/* App.css */

.header {
  background-image: linear-gradient(red, yellow);
  color: white; 
  padding: 20px;
}

.header .search-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header .search-bar img {
  width: 150px; 
  margin-right: 10px;
  margin-bottom: 20px;
}

.header .search-bar input {
  width: 400px; 
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc; 
}

.show-link {
  color: #fff; 
  text-decoration: none; 

}

.card_container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  border: solid black 2px;
  margin: 30px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

div.content {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
 
}

.Null {
  font-weight:bold;
}

.card-button {
  background-color: blue;
  padding: 5px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}

.card-button:hover {
  cursor: pointer;
}





