.Main {
  text-align: center;
  background-color: #999999;
  color: #741616;
}

.App-header {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

img {
  width: 50%;
  height: 1200px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  object-fit: cover;
  border-radius: 8px;
}

button {
  font-size: 50px;
  margin-top: 25px;
}
