/* App.css */

.header {
  background-image: linear-gradient(red, yellow);
  color: white; 
  padding: 20px;
}

.header .search-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header .search-bar img {
  width: 150px; 
  margin-right: 10px;
  margin-bottom: 20px;
}

.header .search-bar input {
  width: 400px; 
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc; 
}

.link {
  color: #fff; 
  text-decoration: none; 

}

.card_container {
  display: flex; /* Display cards in a row */
  flex-wrap: wrap; /* Allow cards to wrap to the next row */
  justify-content: center; /* Center cards horizontally */
}

.custom-card {
  width: 250px; /* Set a fixed width for each card */
  margin: 10px; /* Add some margin between cards */
  border: 1px solid #ccc; /* Add a border around each card */
  border-radius: 10px; /* Add some border radius for rounded corners */
}



