
// Colors
$primary-color: blue;
$secondary-color: yellow;
$accent-color: red;
$background-color: lightgrey;

// Sizes
$input-width: 400px;
$input-padding: 10px;
$input-border-radius: 5px;

// Spacing
$input-margin-bottom: 20px;
$header-padding: 20px;
$card-margin: 30px;
$card-padding: 5px;
$button-padding: 5px;
$button-border-radius: 5px;
$button-font-size: 14px;
